
    
    
#background-video 
    position: fixed
    top: 0
    left: 0
    min-width: 100%
    min-height: 100%
    z-index: -1
    object-fit: cover 

.container-fluid
    color: white

.navbar
    margin-bottom: 100px


.navbar-nav
    font-size: 28px
    position: relative
    width: 100%
    justify-content: space-around


.carousel-inner
    margin-bottom: 100px
    opacity: 0
    transform: translateX(-500px)
    transition-delay: 120s

.carousel-inner:hover
    opacity: 1
    transform: translateY(0)
    transition: 0.5s
    transition-delay: 0s


.carousel-item
    height: 600px
    img
        height: 430px
        width: 290px
        object-fit: contain
        position: relative
        right: -200px
        border: 2px solid white
        border-top: 2px solid white
        border-radius: 10px

.carousel-caption
    position: relative
    width: 300px
    left: 200px
    bottom: 110px
    right: 0px

.description
    position: absolute
    width: 700px
    top: -320px
    right: -800px

.books
    display: flex
    margin-bottom: 150px
    opacity: 0
    transform: translateX(500px) 
    transition-delay: 120s


.books:hover
    opacity: 1
    transform: translateX(0px) 
    transition: 0.5s
    transition-delay: 0s
    margin-bottom: 150px
    

.card
    margin: 0 auto
    height: 650px
    img
        height: 400px

.card-body
    padding: 0
    padding: 20px
    text-align: center
    

center
    opacity: 0
    transition-delay: 120s

center:hover
    opacity: 1
    transition: 1s
    transition-delay: 0s

iframe
    border: 3px solid white
    border-radius: 30px
    margin-bottom: 100px
    margin-right: 50px

h1
    text-align: center
    margin-bottom: 50px

.fot 
    justify-content: center
    text-align: center

.ft
    text-decoration: none
    color: white  
    margin-right: 30px 

.t
    margin-bottom: 0
    position: relative
    height: 40px
    width: 287px
    left: 2px
    background-color: black

.tt
    position: relative
    border-radius: 10px
    width: 287px
    left: 1px
    background-color: #787878

.if_one
    margin-right: 50px